.divtest{
    background-color: rgb(3, 151, 151);
}

p {
    text-align: justify;
}
.test{
    background-color: aqua;
}
.test2{
    background-color: blue;
    color: aliceblue;
}
.divin{
    height: 300px;
    background-color: beige;
    
}
.divin button{
    width: 100px;
}
.divin p{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}
.img1{
    width: 200px;
}